<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/template/head.ejs %>
    <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.1.0/css/buttons.dataTables.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <% include partials/template/header.ejs %>
    <div class="wrapper">
        <% include partials/template/nav.ejs %>
        <div id="page-wrapper">
            <h1>Cloud Foundry Applications</h1>
            <img src="/images/ajax-loader.gif" id="loading-indicator" style="display:none"/>
            <table id="cfapps" class="display cfapps" cellspacing="0" width="100%" style="display:none">

            </table>
        </div>
    </div>
    <% include partials/template/footer.ejs %>
</div>
<% include partials/template/jsdefaults.ejs %>

<!--Loading DataTable Script-->
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
<!--Load Custom Script-->
<script src="/javascripts/cfapps.js"></script>
</body>
</html>