<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/template/head.ejs%>
</head>
<body>


<div class="container">
    <% include partials/template/header.ejs%>
   <div class="wrapper">
       <% include partials/template/nav.ejs%>
   </div>
    <% include partials/template/footer.ejs%>
</div>
<% include partials/template/jsdefaults.ejs%>
</body>
</html>
