<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/template/head.ejs%>
</head>
<body>


<div class="container">
    <% include partials/template/header.ejs%>
   <div class="wrapper">
       <% include partials/template/nav.ejs%>
       <div id="page-wrapper">
           <h1>Mobile Application</h1>
           <form action="" method="post" role="form">
                <legend>Submit Request</legend>

                <div class="form-group">
                    <label for="fname"></label>
                    <input type="text" class="form-control" name="" id="fname" placeholder="First Name...">
                </div>
                <div class="form-group">
                   <label for="lname"></label>
                   <input type="text" class="form-control" name="" id="lname" placeholder="Last Name...">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
           </form>
       </div>
   </div>
    <% include partials/template/footer.ejs%>
</div>
<% include partials/template/jsdefaults.ejs%>
</body>
</html>